body {
  font-family: Helvetica;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: coral;
  height: 150px;
  color: #fff;
  font-size: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: coral;
}

#city-section {
  display: flex;
  height: 400px;
}

#city-list {
  background-color: lightgrey;
  flex-basis: 30%;
}

#city-info {
  padding: 10px;
  flex-basis: 100%;
  background-color: #F0FFFF;

}