html, body {
  height: 100%;
}

.first-section {
  display: flex;
  margin: 10px;

}

.half-section {
  height: 200px;
  background-color: coral;
  flex-basis: 50%;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-section {
  flex: 1;
  padding: 10px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
}

.second-section {
  background-color: coral;
  height: 100px;

}

.last-section {
  display: flex;
  background-color: coral;
  height: 200px;

}

.mini-section {
  flex-basis: 33%;
  padding: 10px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
}
